# crawler
pandas
beautifulsoup4
hanzidentifier
requests

# huggingface
bitsandbytes
datasets
peft
tensorboard
torch
transformers

# langchain
chromadb
langchain
langchain-community
langchain-huggingface
pysqlite3-binary
sentence-transformers
tqdm

# app
streamlit
